{include file='header'}
<div class="am-cf admin-main">
    {include file='sidebar'}
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>Index</small></div>
            </div>
            <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                <li><a href="{$__ROOT__}/admin/admin_list" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>管理员<br/>{$total['admin']}</a></li>
                <li><a href="{$__ROOT__}/admin/sign_seven" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>报名数量<br/>{$total['sign']}</a></li>
                <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>昨日访问<br/>80082</a></li>
                <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>在线用户<br/>3000</a></li>
            </ul>
            <div class="am-g">
                <div class="am-u-sm-12">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    <th class="table-check">
                                        <input type="checkbox" />
                                    </th>
                                    <th class="table-id">id</th>
                                    <th class="table-title">用户标识</th>
                                    <th class="table-type">连续签到次数</th>
                                    <th class="table-type">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $list k=>v}
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>{$v.id}</td>
                                    <td>{$v.openid}</td>
                                    <td>{$v.total}</td>
                                    <td>
                                        <a href="{$__ROOT__}/admin/sign_info?id={$v.openid}" class="am-btn am-btn-primary am-btn-xs">查看</a>
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        {include file='footer'}
    </div>
    <!-- content end -->
</div>
{include file='bottom'}
