{include file='header'}
<div class="am-cf admin-main">
    {include file='sidebar'}
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">报名列表</strong> / <small>Sign list</small></div>
            </div>
            <hr>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form" action="{$__ROOT__}/admin/">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    <th class="table-id">id</th>
                                    <th class="table-title">用户标识</th>
                                    <th class="table-type">连续签到次数</th>
                                    <th class="table-type">姓名</th>
                                    <th class="table-type">电话</th>
                                    <th class="table-type">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $list k=>v}
                                <tr>
                                    <td>{$v.id}</td>
                                    <td>{$v.openid}</td>
                                    <td>{$v.total}</td>
                                    <td>{$v.name}</td>
                                    <td>{$v.mobile}</td>
                                    <td>
                                        <a href="{$__ROOT__}/admin/sign_info?id={$v.openid}" class="am-btn am-btn-primary am-btn-xs">查看</a>
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>                       
                        <div class="am-cf">
                            共{$page.total}条记录
                            <div class="am-fr">
                                <ul class="am-pagination">
                                    {if $page['nowPage']>1}
                                    <li><a href="{$__ROOT__}/admin/sign_seven_{$page['prevPage']}">«</a></li>
                                    {/if}
                                     {if $page['nowPage']<$page['totalPage']}
                                    <li><a href="{$__ROOT__}/admin/sign_seven_{$page['nextPage']}">»</a></li>
                                    {/if}
                                </ul>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        {include file='footer'}
    </div>
    <!-- content end -->
</div>
{include file='bottom'}
