<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{$__ROOT__}/static/home/css/main.css">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<meta name="imagemode" content="force">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="">
<link rel="apple-touch-icon-precomposed" href="">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script src="{$__ROOT__}/static/home/js/jquery.min.js"></script>
<script src="{$__ROOT__}/static/home/layer/layer.js"></script>
</head>
<body>



<div class="page page5">
	<div class="suwis-share-mask" onclick="$('.suwis-share-mask').fadeToggle();">
        <img src="{$__ROOT__}/static/home/images/share_hinit.png" alt="">
    </div>
	<div class="img51">
		<span>{$top.pm}</span>
		<p>当前共 {$top.total} 人参与打卡</p>
		<p>恭喜您排名第{$top.pm}</p>
	</div>
	<div class="btn51"><a href="javascript:" data-total="{$total}" id="total">{if $total==7}七天打卡完成 提交个人信息{else}累积打卡7天  获得奖品{/if}</a></div>
	<div class="sign-days">
		<p>打卡全纪录</p>
        <ul>
		{foreach $list k=>v}
		{if $v}
		<li>
            
            <a href="{$__ROOT__}/cp/like?id={$v.id}"><img src="{$__ROOT__}/{$v.src}" alt=""></a>
            
            <!--<img src="{$__ROOT__}/{$v.src}" alt="">-->
        </li>
		{else}
		<li><img src="{$__ROOT__}/static/home/images/img52-0.png" alt=""></li>
		{/if}
		{/foreach}
        </ul>
	</div>
    <div class="suwis-testdrive-form ">
    <a class="btn" href="javascript:" id="o">分享</a>
    </div>
</div>

<div id="form" style="display: none;">
<ul class="7dayform">
    <li><input name="names" placeholder="姓名" /></li>
    <li><input name="mobile" placeholder="电话" /></li>
</ul>
</div>
<script src="{$__ROOT__}/static/home/js/main.js"></script>
<script type="text/javascript">
	$(function(){
		$("#o").click(function(){
			$('.suwis-share-mask').fadeToggle();
		});
        $("#total").click(function(){
            var total=parseInt($(this).data('total'));
            if(total!=7){
                layer.open({
                    content: '累积打卡7天即可参与抽奖，获得奖品。',
                    btn: ['OK']
                });                
            }else{
                var form = layer.open({
                      type: 1,
                      content: $('#form').html(),
					  title: ['打卡完成 提交您的个人信息','background-color: #7d7c7c;color: #fff;'],
                      btn: ['提交','取消'],
                      style: 'position:fixed; left:5%; top:10%; width:90%; height:191px; border:none;',
                      yes: function(){
                        var name=$(".layermcont [name='names']").val();
                        var mobile=$(".layermcont [name='mobile']").val();
                        if(!name||!mobile||mobile.length!=11){
                            layer.open({content: '请填写正确的姓名和联系电话', time: 1});
                            return false;
                        }
                        $.post('{$__ROOT__}/seven/save',{
                            name:name,
                            mobile,mobile
                        },function(rs){
                            layer.open({
                              content: rs.msg,
                              btn: ['OK'],
                              yes:function(index){
                                if(rs.status==1){
                                    layer.closeAll();
                                }else{
                                    layer.close(index);
                                }
                              }
                            });                            
                        },'json');
                      }
                });
            }
        });
	})
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
// 微信配置
wx.config({
    debug: false,
    url : "{$signPackage['url']}",
    appId: "{$signPackage['appid']}",
    timestamp: "{$signPackage['timestamp']}",
    nonceStr: "{$signPackage['noncestr']}",
    signature: "{$signPackage['signature']}",
    jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
    ]
});
//微信分享默认数据配置，全局变量，根据答案动态改变wechat_sharedata参数
var wechat_sharedata = {
    title: '福特翼搏“效傲全城”城市冒险计划--挑战人鱼线',
    desc: '要掌控人生，先掌控身体；想要做，不要等；迈出效率派的第一步；加入打卡行动，挑战人鱼线！',
    link: 'http://h5.jiang-mei.com/yiboh5/cms/cp/',
    imgUrl:'{$src}'
}

wx.ready(function() {

    // 分享好友接口
    wx.onMenuShareAppMessage({
        title: wechat_sharedata.title,
        desc: wechat_sharedata.desc,
        link: wechat_sharedata.link,
        imgUrl: wechat_sharedata.imgUrl,
        trigger: function (res) {
            //alert('用户点击发送给朋友');
        },
        success: function (res) {
            //alert('已分享');
        },
        cancel: function (res) {
            //alert('已取消');
        },
        fail: function (res) {
            //alert(JSON.stringify(res));
        }
    });

    // 分享朋友圈接口
    wx.onMenuShareTimeline({
        title: wechat_sharedata.title,
        link: wechat_sharedata.link,
        imgUrl: wechat_sharedata.imgUrl,
        trigger: function (res) {
            //alert('用户点击分享到朋友圈');
        },
        success: function (res) {
            //alert('已分享');
        },
        cancel: function (res) {
            //alert('已取消');
        },
        fail: function (res) {
            //alert(JSON.stringify(res));
        }
    });

});

wx.error(function (res) {
    alert(res.errMsg);
});
</script>

</body>
</html>