<div id="footer" class="footer bg-default">
    <div id="footer_main">
        <div class="links">
            <a class="dark" href="http://hersface.com">hersface</a> |
            <a class="dark" href="https://github.com/eyblog/mvc">源码地址</a>
        </div>
        <div class="col_fade">
            <p>没想好下面放什么东西</p>。
            </p>
        </div>
    </div>
</div>
<!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
<script src="{$__basefile}/static/js/jquery-1.11.0.min.js"></script>
<!-- ZUI Javascript组件 -->
<script src="{$__basefile}/static/js/zui.min.js"></script>
<script src="{$__basefile}/static/js/app.js"></script>
