      <div id="footer" class="footer bg-default">
 <div id="footer_main">
    <div class="links">
      <a class="dark" href="/rss">RSS</a>
      |
      <a class="dark" href="https://github.com/cnodejs/nodeclub/">源码地址</a>
    </div>

    <div class="col_fade">

  <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
  <p>服务器赞助商为
    <a href="http://www.ucloud.cn/?utm_source=zanzhu&amp;utm_campaign=cnodejs&amp;utm_medium=display" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
      <img src="//dn-cnode.qbox.me/FmZmxXDULF26HWvSMLGZX6Vxp5MH" title="ucloud" alt="ucloud" width="92px">
    </a>
  ，存储赞助商为
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="//dn-cnodestatic.qbox.me/public/images/qiniu.png" title="七牛云存储" alt="七牛云存储" width="115px">
    </a>
  ，由<a href="http://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
      <img src="//dn-cnode.qbox.me/FpMZk31PDyxkC8yStmMQL4XroaGD" title="alinode" alt="alinode" width="166px" height="54px">
    </a>提供应用性能服务。
  </p>
  <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.linode.com/?r=15ca84df052ab2ac2cc4ac21714969900782a827">Linode(https://www.linode.com)</a> 或 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p>
</div>


  </div>       
      </div>
      <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->    
      <script src="./static/js/jquery-1.11.0.min.js"></script>
      <!-- ZUI Javascript组件 -->    
      <script src="./static/js/zui.min.js"></script>
      <script src="./static/js/app.js"></script>