<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{$__ROOT__}/static/home/css/main.css">
    <link rel="stylesheet" type="text/css" href="{$__ROOT__}/static/home/css/loaders.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon-precomposed" href="">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <script src="{$__ROOT__}/static/home/js/jquery.min.js"></script>
</head>

<body>
    <div class="page page4">
    <div id="loading" style="position: absolute;top: 50%;z-index: 11;text-align: center;width: 100%;display: none;">
        <div class="loader-inner ball-pulse">
          <div></div>
          <div></div>
          <div></div>
        </div>
    </div>  
        <div class="txt41"><img src="{$__ROOT__}/static/home/images/txt41.png" alt=""><span>{$rule.rule}</span></div>
        <form method="post" action="{$__ROOT__}/seven/do" enctype="multipart/form-data">
	        <div class="upload">
                <img src="" id="img" style="width: 100%;height: 100%;display: none;">
                <span id="txt">点击上传照片</span>
	            <input type="file" name="img" id="file" >
	        </div>        	
        </form>
        <div class="btn42" style="z-index: 10;bottom: 23%;"><a href="javascript:" id="do">完成打卡</a></div>
        <div class="btn12" style="bottom: 16%;"><a href="{$__ROOT__}/?step=5">打卡历史</a></div>
    </div>
    <script src="{$__ROOT__}/static/home/js/main.js"></script>
    <script src="{$__ROOT__}/static/home/js/localResizeIMG.js" type="text/javascript"></script>
    <script src="{$__ROOT__}/static/home/js/mobileBUGFix.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(function(){
        var img;
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $('#file').localResizeIMG({
             width: 800,
             quality: 1,
             success: function (result) {
                $("#txt").hide();
                 $("#img").attr("src", result.base64);
                 img=result.base64;
                 $("#img").show();
             }
         });              
    	$("#do").click(function(){
            if(!img){
                alert("上传图片进行签到");
                return false;                
            }
            $("#loading").show();
            $.post('{$__ROOT__}/seven/do',{
                img:img,
                date:"{$date}"
            },function(rs){
                $("#loading").hide();
                alert(rs.msg);
                if(rs.status==1){
                    window.location.href="{$__ROOT__}/?step=5";
                }
            },'json');
    	});
    });
    </script>
</body>

</html>
