<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{$__ROOT__}/static/home/css/main.css">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<meta name="imagemode" content="force">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="">
<link rel="apple-touch-icon-precomposed" href="">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script src="{$__ROOT__}/static/home/js/jquery.min.js"></script>
</head>
<body>



<div class="page page4">
	<div class="txt41"><img src="{$__ROOT__}/static/home/images/txt41.png" alt=""><span>完成一组俯卧撑10个</span></div>
	<div class="upload"><span>点击上传照片</span><input type="file" name="" id=""></div>
	<div class="btn42"><a href="">完成打卡</a></div>
</div>




<script src="{$__ROOT__}/static/home/js/main.js"></script>
</body>
</html>