<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{$__ROOT__}/static/home/css/main.css">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<meta name="imagemode" content="force">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="">
<link rel="apple-touch-icon-precomposed" href="">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script src="{$__ROOT__}/static/home/js/jquery.min.js"></script>
</head>
<body>



<div class="page page1">
	<div class="logo"><img src="{$__ROOT__}/static/home/images/logo1.png" alt=""></div>
	<div class="video">
		<video id="video1"  src="{$__ROOT__}/static/home/video/0625+30s+EP02.mp4" preload="none" poster=""  controls="controls" >您的浏览器不支持vedio，请更换浏览器再观看！ </video>
		<!-- <embed  src="http://player.youku.com/player.php/sid/XMTY4MDkxNjAwMA==/v.swf" allowFullScreen="true" quality="high" width="320" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"> -->
	</div>
	<div class="btn11"><a href="{$__ROOT__}/?step=2">挑战人鱼线</a></div>
	<div class="btn12"><a href="">车主天地</a></div>
</div>




<script src="{$__ROOT__}/static/home/js/main.js"></script>
</body>
</html>