    <!DOCTYPE html>    
    <html lang="zh-cn">
      {include file='head'}
    <body>
      {include file='nav'}
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="panel">
              <div class="panel-heading">
                <ul class="nav nav-secondary">
                  <li {if $es.get['tab']=='全部'}class="active"{/if}>
                    <a href="{$__basefile}/?tab=全部">
                      全部
                    </a>
                  </li>
                  {foreach $tab k=>v}
                  <li {if $es.get['tab']==$v.name} class="active"{/if}>
                    <a href="{$__basefile}/?tab={$v.name}">
                      {$v.name}
                    </a>
                  </li>
                  {/foreach}
                </ul>
              </div>
              <div class="panel-body content-table">
                <div class="list">
                  <header>
                    <h3> 
                      <i class="icon-list-ul icon-border-circle"></i>
                      <small>{$page['total']}篇主题</small>
                    </h3>
                  </header>
                  <section class="items items-hover">
                    {foreach $list k=>v}
                    <div class="item">
                      <div class="media pull-left">
                        <img src="http://zui.sexy/docs/img/img1.jpg" width="42px" height="42px" class="img-rounded media-place-holder" alt="圆角图片">
                      </div>
                      <div class="item-heading">
                        <h4>
                          <span class="label label-success">{$v['tab_name']}</span>
                          &nbsp;
                          <a href="{$__basefile}/t/{$v['sign']}">{$v['title']}</a>
                        </h4>
                      </div>
 
                      <div class="item-footer">
                        <a href="{$__basefile}/t/{$v['sign']}#comment" class="text-muted">
                          {$v['reply']}/{$v['view']}
                        </a>
                        &nbsp;
                        <span class="text-muted">2013-11-11 16:14:37</span>
                      </div>
                    </div>
                    {/foreach}
                  </section>
                  <footer>
                    <ul class="pager" style="display: none;">
                      <li class="previous">
                        <a href="#">« 上一页</a>
                      </li>
                      <li>
                        <a href="#">1</a>
                      </li>
                      <li>
                        <a href="#">⋯</a>
                      </li>
                      <li>
                        <a href="#">6</a>
                      </li>
                      <li class="active">
                        <a href="#">7</a>
                      </li>
                      <li>
                        <a href="#">8</a>
                      </li>
                      <li>
                        <a href="#">9</a>
                      </li>
                      <li>
                        <a href="#">⋯</a>
                      </li>
                      <li>
                        <a href="#">12</a>
                      </li>
                      <li class="next">
                        <a href="#">下一页 »</a>
                      </li>
                    </ul>
                  </footer>
                </div>
              </div>
            </div>
          </div>
          {include file='sidebar'}
        </div>
      </div>
      {include file='footer'}
    </body>
    </html>