      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <!-- 导航头部 -->    
          <div class="navbar-header">
            <!-- 移动设备上的导航切换按钮 -->    
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
              <span class="sr-only">切换导航</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- 品牌名称或logo -->    
            <a class="navbar-brand" href="your/nice/url">easyou</a>
          </div>

          <!-- 导航项目 -->    
          <div class="collapse navbar-collapse navbar-collapse-example">
            <!-- 一般导航项目 -->    
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="./">社区</a>
              </li>
              <li>
                <a href="javascript:">文档</a>
              </li>
              ...
              <!-- 导航中的下拉菜单 -->    
              <li class="dropdown">
                <a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">
                  api <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="your/nice/url">任务</a>
                  </li>
                  ...
                </ul>
              </li>
            </ul>

            <!-- 右侧的导航项目 -->    
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="javascript:" type="button" class="btn btn-primary" data-remote="/login" data-toggle="modal">登录</a>
              </li>
              <li class="dropdown">
                <a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">
                  会员中心 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="your/nice/url">个人资料</a>
                  </li>
                  <li>
                    <a href="your/nice/url">个人设置</a>
                  </li>
                  <li>
                    <a href="your/nice/url">退出登录</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- END .navbar-collapse --> </div>
      </nav>