          <div class="col-md-3">

            {if $es.session['userInfo']}
            <div class="panel">
              <div class="panel-heading">个人信息</div>
              <div class="panel-body">
                
              </div>
            </div>

            <div class="panel">
              <div class="panel-body">
                <a class="btn btn-block btn-primary" href="{$__basefile}/topic">发布话题</a>
              </div>
            </div>            
            {else}
            <div class="panel">
              <div class="panel-body">
                <h3 class="">es社区</h3>
                <div>
                  <a data-remote="{$__basefile}/login" data-toggle="modal" href="javascript:">登录</a>
                  或
                  <a href="{$__basefile}/register">注册</a>
                </div>
              </div>
            </div>            
            {/if}

            <div class="panel">
              <div class="panel-heading">
                <i class="icon icon-bars"></i>
                最新话题
              </div>
              <ul class="list-group">
              {foreach $newTopic k=>v}
                <li class="list-group-item">
                  <a href="{$__basefile}/t/{$v['sign']}" title="{$v['title']}">{$v['title']}</a>
                </li>
                {/foreach}
              </ul>
            </div>

            <div class="panel">
              <div class="panel-heading">
                <i class="icon icon-bars"></i>
                友情链接
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="http://zui.sexy/">zui</a>
                </li>
                <li class="list-group-item">
                  <a href="http://hersface.com/">hersface</a>
                </li>                
              </ul>
            </div>
          </div>