          <div class="col-md-3">

            {if $es.session['userInfo']}
            <div class="panel">
              <div class="panel-heading">个人信息</div>
              <div class="panel-body">
                
              </div>
            </div>

            <div class="panel">
              <div class="panel-body">
                <a class="btn btn-block btn-primary" href="{$__basefile}/topic">发布话题</a>
              </div>
            </div>            
            {else}
            <div class="panel">
              <div class="panel-body">
                <h3 class="">es社区</h3>
                <div>
                  <button class="btn btn-primary btn-mini" type="button" data-remote="./login" data-toggle="modal">登录</button>或
                  <a class="btn btn-primary btn-mini" href="{$__basefile}/register">注册</a>
                </div>
              </div>
            </div>            
            {/if}

            <div class="panel">
              <div class="panel-heading">
                <i class="icon icon-bars"></i>
                最新话题
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="#">项目</a>
                </li>
                <li class="list-group-item">
                  <a href="#">待办</a>
                </li>
                <li class="list-group-item">
                  <a href="#">需求</a>
                </li>
                <li class="list-group-item">
                  <a href="#">任务</a>
                </li>
                <li class="list-group-item">
                  <a href="#">Bug</a>
                </li>
                <li class="list-group-item">用例</li>
              </ul>
            </div>

            <div class="panel">
              <div class="panel-heading">
                <i class="icon icon-bars"></i>
                积分榜
                <a href="#">TOP100>></a>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="#">项目</a>
                </li>
                <li class="list-group-item">
                  <a href="#">待办</a>
                </li>
                <li class="list-group-item">
                  <a href="#">需求</a>
                </li>
                <li class="list-group-item">
                  <a href="#">任务</a>
                </li>
                <li class="list-group-item">
                  <a href="#">Bug</a>
                </li>
                <li class="list-group-item">用例</li>
              </ul>
            </div>

            <div class="panel">
              <div class="panel-heading">
                <i class="icon icon-bars"></i>
                友情链接
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="#">项目</a>
                </li>
                <li class="list-group-item">
                  <a href="#">待办</a>
                </li>
                <li class="list-group-item">
                  <a href="#">需求</a>
                </li>
                <li class="list-group-item">
                  <a href="#">任务</a>
                </li>
                <li class="list-group-item">
                  <a href="#">Bug</a>
                </li>
                <li class="list-group-item">用例</li>
              </ul>
            </div>
          </div>