.content-table{
  padding: 0px;
}
.footer{
  text-align: center;
}
.footer a{
  color: #FFF;
}
.breadcrumb{
	margin-bottom: 0px;
	padding: 5px 15px;
}
.form-alert{
	display: none;
}
.container .panel-heading{
	border-color: #fff;
	background-color: #f6f6f6;
}